<div [ngClass]="mainThemeClass">
  <div class="pageName-headerDiv">
    <mat-card class="tagus-card p-0 pb-25 dark-theme-bg">
      <mat-card-header class="m-0">
        <div>
          <h5 class="mb-0" [ngClass]="mainThemeClass!='' ? 'theme-text-color': ''">Variant Master</h5>
          <div class="d-flex">
            <span class="material-symbols-outlined cursor-pointer"
              (click)="commonService.pageNavigation({URL:'MainWithoutSidebar.aspx'})">
              west
            </span><app-breadcrumb class="ms-10 mt-3"></app-breadcrumb>
          </div>
        </div>

        <div>
          <button mat-flat-button color="primary" class="me-15" (click)="exportClick()" [disabled]="!isViewAccess"
            [ngClass]="[mainThemeClass!='' ? 'dialog-save-btn': 'text-bg-info',isViewAccess?'text-white':'']">
            <div class="d-flex align-items-center">
              <span class="material-symbols-outlined me-5">
                export_notes
              </span>
              <span>Export</span>
            </div>
          </button>

          <button mat-flat-button color="primary" class="me-15 add-button" (click)="addClick()"
            [disabled]="!isAddAccess"
            [ngClass]="[mainThemeClass!='' ? 'dialog-save-btn': 'text-bg-info',isAddAccess?'text-white':'']">
            <div class="d-flex align-items-center">
              <span class="material-symbols-outlined pe-3">
                add
              </span>
              <span>Add</span>
            </div>
          </button>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <mat-card class="mb-25 tagus-card">
    <mat-card-header class="overflow-auto">
      <div class="col-xxl-3 colxl-3 col-lg-3 col-md-4">
        <h5 class="mb-0">Variant Master Details</h5>
      </div>
      <div class="text-end d-flex justify-content-end">
        <!-- <div class="d-flex border-radius searchBox-border">
          <div class="d-flex background-white"
            [ngClass]="!NgfilterDropdown.hasValue?'searchFilterDiv-withoutTextInput':'searchFilterDiv'">

            <div class="tagus-form-group without-icon me-5" [ngClass]="!NgfilterDropdown.hasValue?'col-12':'col-5'">
              <ng-select dropdownPosition="bottom" [placeholder]="!filterBtnClicked ? 'Filter' : ''" #NgfilterDropdown
                (window:scroll)="NgfilterDropdown.close()" class="dropdown filterDropdown" bindLabel="filterName"
                (change)="IsSearch = true;filterApplied($event);filterBtnClicked=true;" bindValue="filterName" [items]="filterList"
                [appendTo]="'body'" (clear)="searchText='';IsSearch=false;filterBtnClicked=false;getAllVariants()"
                [ngClass]="NgfilterDropdown.hasValue || NgfilterDropdown.isOpen?'placeholder-padding':''">
              </ng-select>
            </div>

            <hr class="vertical-divider mt-15" *ngIf="NgfilterDropdown.hasValue">

            <form class="search-box position-relative d-inline-flex m-15" *ngIf="NgfilterDropdown.hasValue">
              <input type="text" class="input-search d-block background-white" placeholder="Search here.."
                [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (keyup)="SearchFilterApplied()">
              <button type="submit"><i class="ri-search-line"></i></button>
              <button *ngIf="searchText.length>0" type="button" class="clear-button"
                (click)="searchText='';IsSearch=false;getAllVariants()">
                <i class="ri-close-line"></i>
              </button>
            </form>

          </div>
        </div> -->

        <div class="d-flex border-radius searchBox-border">
          <div class="d-flex background-white searchFilterDivNew">

            <form class="search-box position-relative d-inline-flex m-15">
              <input type="text" class="input-search d-block background-white" placeholder="Search here.."
                [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (keyup)="SearchFilterApplied()">
              <button type="submit"><i class="ri-search-line"></i></button>
              <button *ngIf="searchText.length>0" type="button" class="clear-button"
                (click)="searchText='';IsSearch=false;getAllVariants()">
                <i class="ri-close-line"></i>
              </button>
            </form>

          </div>
        </div>

        <!-- <button mat-flat-button color="primary" class="bg-theme-color ms-20"
          (click)="IsSearch=true;PageNumber=1;getAllVariants()">Search</button> -->
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="mat-elevation-z8   tagus-mat-table overflow-auto mt-20">
        <table (matSortChange)="announceSortChange($event)" mat-table [dataSource]="VariantsList" matSort
          #variantTableList>

          <!-- Variant Name -->
          <ng-container matColumnDef="Variant Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="VariantName">Variant Name</th>
            <td mat-cell *matCellDef="let element">{{element.VariantName}}</td>
          </ng-container>

          <!-- JATO ID -->
          <ng-container matColumnDef="JATO ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="JatoId">JATO ID</th>
            <td mat-cell *matCellDef="let element">{{element.JatoId}}</td>
          </ng-container>

          <!-- Model Name -->
          <ng-container matColumnDef="Model Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ModelName">Model Name</th>
            <td mat-cell *matCellDef="let element">{{element.ModelName}}</td>
          </ng-container>

          <!-- Engine CC -->
          <ng-container matColumnDef="Engine CC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="EngineCapacity">Engine CC</th>
            <td mat-cell *matCellDef="let element">{{element.EngineCapacity}}</td>
          </ng-container>

          <!-- Seat Capacity -->
          <ng-container matColumnDef="Seat Capacity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="SeatCapacity">Seat Capacity</th>
            <td mat-cell *matCellDef="let element">{{element.SeatCapacity}}</td>
          </ng-container>

          <!-- Emission Level -->
          <ng-container matColumnDef="Emission Level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="EmissionLevel">Emission Level</th>
            <td mat-cell *matCellDef="let element">{{element.EmissionLevel}}</td>
          </ng-container>

          <!-- Rv Deviation -->
          <ng-container matColumnDef="Rv Deviation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="RvDeviation">Rv Deviation</th>
            <td mat-cell *matCellDef="let element">{{element.RvDeviation}}</td>
          </ng-container>

          <!-- Rmt Deviation -->
          <ng-container matColumnDef="Rmt Deviation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="RmtDeviation">Rmt Deviation</th>
            <td mat-cell *matCellDef="let element">{{element.RmtDeviation}}</td>
          </ng-container>

          <!-- Maint. Sch. -->
          <ng-container matColumnDef="Maint. Sch.">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="FreeServiceName">Maint. Sch.</th>
            <td mat-cell *matCellDef="let element">{{element.FreeServiceName}}</td>
          </ng-container>

          <!-- Fuel Type -->
          <ng-container matColumnDef="Fuel Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Fuel">Fuel Type</th>
            <td mat-cell *matCellDef="let element">{{element.Fuel}}</td>
          </ng-container>

          <!-- Dimension -->
          <ng-container matColumnDef="Dimension">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Dimension">Dimension</th>
            <td mat-cell *matCellDef="let element">{{element.Dimension}}</td>
          </ng-container>

          <!-- Warranty Year -->
          <ng-container matColumnDef="Warranty Year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="WarrentyYear">Warranty Year</th>
            <td mat-cell *matCellDef="let element">{{element.WarrentyYear}}</td>
          </ng-container>

          <!-- Warranty Km -->
          <ng-container matColumnDef="Warranty Km">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="WarrentyKM">Warranty Km</th>
            <td mat-cell *matCellDef="let element">{{element.WarrentyKM}}</td>
          </ng-container>

          <!-- Fuel Capacity -->
          <ng-container matColumnDef="Fuel Capacity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="FuelCapacity">Fuel Capacity</th>
            <td mat-cell *matCellDef="let element">{{element.FuelCapacity}}</td>
          </ng-container>

          <!-- Tyre Size -->
          <ng-container matColumnDef="Tyre Size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="TyreSize">Tyre Size</th>
            <td mat-cell *matCellDef="let element">{{element.TyreSize}}</td>
          </ng-container>

          <!-- Approved By -->
          <ng-container matColumnDef="Approved By">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ApprovedBy">Approved By</th>
            <td mat-cell *matCellDef="let element">{{element.ApprovedBy}}</td>
          </ng-container>

          <!-- Created By -->
          <ng-container matColumnDef="Created By">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Created_By">Created By</th>
            <td mat-cell *matCellDef="let element">{{element.Created_By}}</td>
          </ng-container>

          <!-- Modified By -->
          <ng-container matColumnDef="Modified By">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Edit_By">Modified By</th>
            <td mat-cell *matCellDef="let element">{{element.Edit_By}}</td>
          </ng-container>

          <!-- WFStatus -->
          <ng-container matColumnDef="WFStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="WFStatus">Workflow Status</th>
            <td mat-cell *matCellDef="let element">
              {{element.WFStatus==1?'Pending':element.WFStatus==2?'Approved':element.WFStatus==3?'Rejected':''}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">

              <span class="material-symbols-outlined cursor-pointer"
                (click)="isEditAccess ? element.WFStatus!=1?openEditModal(element):'':''"
                [ngClass]="[!isEditAccess?'cursor-not-allowed':'',element.WFStatus==1?'cursor-not-allowed':'']"
                matTooltip="Edit">
                edit
              </span>

              <span class="material-symbols-outlined cursor-pointer ps-20"
                (click)="isViewAccess ? openViewDialog(element):''" [ngClass]="[!isViewAccess?'cursor-not-allowed':'']"
                matTooltip="View">
                visibility
              </span>

              <span class="material-symbols-outlined ps-20 cursor-pointer" (click)="isAddAccess?copyVariant(element):''"
                [ngClass]="!isAddAccess?'cursor-not-allowed':''" matTooltip="Copy Variant">
                copy_all
              </span>

              <!-- <span class="material-symbols-outlined cursor-pointer" [matMenuTriggerFor]="iconMenu">
                more_vert
              </span>
              <mat-menu #iconMenu="matMenu" class="dotMenu monthMenu icon-alignment-div" xPosition="before">
                <button mat-menu-item type="button" class="bg-transparent border-none position-relative"
                  (click)="openEditModal(element)" [disabled]="!isEditAccess">
                  <span class="icon-alignment">
                    <span class="material-symbols-outlined">
                      edit
                    </span>
                  </span>
                  <span>
                    Edit
                  </span>
                </button>
                <hr>
                <button mat-menu-item type="button" class="bg-transparent border-none position-relative"
                  (click)="copyVariant(element)" [disabled]="!isAddAccess">
                  <span class="icon-alignment">
                    <span class="material-symbols-outlined">
                      copy_all
                    </span>
                  </span>
                  <span>
                    Copy
                  </span>
                </button>
              </mat-menu> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            (click)="selectedRowIndex = row.position"
            [ngClass]="{'highlightTableColor': selectedRowIndex == row.position}"></tr>

        </table>

        <div class="fw-bold no-records text-center" *ngIf="VariantsList.length==0">
          No Records Found
        </div>

      </div>
      <div class="text-end bg-white border-top-radius"
        *ngIf="totalRecords !== 0 && totalRecords !== null && totalRecords>10">
        <!-- <div class="d-flex justify-content-end">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item me-15" *ngIf="PageNumber > 1">
                <a class="page-link cursor-pointer" (click)="pageClick(PageNumber - 1)">Previous</a>
              </li>
              <li class="page-item me-15" *ngFor="let page of getPages()">
                <a class="page-link cursor-pointer" (click)="page!='...'?pageClick(page):''"
                  [ngClass]="page==PageNumber?'active':''">
                  {{page}}</a>
              </li>
              <li class="page-item" *ngIf="PageNumber < totalPages()">
                <a class="page-link cursor-pointer" (click)="pageClick(PageNumber + 1)">Next</a>
              </li>
            </ul>
          </nav>
        </div> -->

        <mat-paginator (page)="handlePage($event)" [pageSize]="PageSize" [pageSizeOptions]="[10, 15, 20, 25, 100]"
          [length]="totalRecords" [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>