.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .field-margin {
    margin: 8px 0; // Adjust margin values as needed for vertical spacing
    margin-right: 12px; // Adds horizontal spacing between the fields
  }
  

  .custom-stepper .mat-horizontal-stepper-header {
    background-color: #3a3a3a;
    color: #ffffff;
    border-radius: 4px;
  }

  .custom-stepper .mat-stepper-label {
    font-weight: bold;
    color: #ffffff;
    
  }

  .custom-stepper .mat-step-icon {
    background-color: #007bff;
    color: #ffffff;
  }

  .button-group .btn {
    background-color: #0056b3;
    color: #ffffff;
    margin-right: 10px;
  }
