<div [ngClass]="mainThemeClass" class="main-layout">
  <!-- [class.dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.rtl-enabled]="themeService.isRTLEnabled()" -->
  <!-- <app-sidebar></app-sidebar> -->
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="main-content d-flex flex-column" [ngClass]="{'active': isToggled}">
    <!-- [class.right-sidebar]="themeService.isRightSidebar()"
        [class.hide-sidebar]="themeService.isHideSidebar()" -->

    <router-outlet></router-outlet>
    <!-- <div class="flex-grow-1"></div> Check if needs else remove code -->
  </div>
  <!-- <app-customizer-settings></app-customizer-settings> -->
</div>