<div [ngClass]="mainThemeClass">
  <div class="create-dialog-box scrollable-dialog" *ngIf="IsCompliance">
    <div class="dialog-header d-flex align-items-center justify-content-space-between p-20 table-accept-color">
      <h4 class="mb-0 text-white">Disable Compliance</h4>
      <i class="flaticon-close text-white cursor-pointer" (click)="close()"></i>
    </div>

    <div class="d-flex p-30 justify-content-center">
      <h5 class="text-dark">Are you sure you want to disable compliance category record ?</h5>
    </div>

    <div class="cam-btn d-flex align-items-center justify-content-end mt-5">
      <button mat-flat-button class="gray white-color" (click)="close()">Cancel
      </button>
      <button mat-stroked-button [ngClass]="mainThemeClass!='' ? 'dialog-save-btn': 'text-bg-info' " class="text-white"
        (click)="dialogRef.close(true)" [disabled]="!isDeleteAccess">Disable
      </button>
    </div>

  </div>

  <div class="create-dialog-box scrollable-dialog" *ngIf="IsMenu">
    <div class="dialog-header d-flex align-items-center justify-content-space-between p-20 table-accept-color">
      <h4 class="mb-0 text-white">{{mode}} Menu</h4>
      <i class="flaticon-close text-white cursor-pointer" (click)="close()"></i>
    </div>

    <div class="d-flex p-30 justify-content-center">
      <h5 class="text-dark">Are you sure you want to {{mode | lowercase}} Menu ?</h5>
    </div>

    <div class="cam-btn d-flex align-items-center justify-content-end mt-5">
      <button mat-flat-button class="gray white-color" (click)="close()">Cancel
      </button>
      <button mat-stroked-button [ngClass]="mainThemeClass!='' ? 'dialog-save-btn': 'text-bg-info' " class="text-white"
        (click)="dialogRef.close(true)" [disabled]="!isDeleteAccess">{{mode}}
      </button>
    </div>

  </div>
</div>