
    .complianceName
    {
      height: 150px !important;
      padding: 10px;
      border: 1px solid #B1B5C3;
      border-radius: 5px;
      width: 255px;
      overflow: auto;
    }

    .h-20
    {
      height: 20px !important;
    }