<div class="h-100vh pt-50 pb-50">

  <div class="d-table">
    <div class="d-table-cell">
      <div class="tagus-form ms-auto me-auto">
        <div class="title">
          <div class="d-flex mb-10 align-items-center">
            <h2 class="mb-0 me-30">Reset Password</h2>
            <!-- <img src="assets/img/logo-icon.png" alt="logo-icon"> -->
          </div>
          <p>Your new password must be different from previously used passwords</p>
        </div>

        <form [formGroup]="resetUserForm" class="pb-0">
          <div class="bg-white border-radius pt-20 ps-20 pe-20">
            <div class="row">
              <div class="col-12">
                <!-- <div class="tagus-form-group without-icon">
                  <label class="d-block mb-12 fw-semibold gray-color">User name <span>*</span></label>
                  <mat-form-field appearance="fill">
                    <input autocomplete="off" matInput type="text" class="form-control" id="clientName"
                      placeholder="User Name" formControlName="userName">
                    <mat-error
                      *ngIf="submitted && validators['userName'].errors && validators['userName'].errors['required']">
                      Enter User name
                    </mat-error>
                  </mat-form-field>
                </div> -->
                <label class="d-block fw-semibold gray-color">Enter OTP <span>*</span></label>
                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
                  [config]="{length:6, allowNumbersOnly:true}"></ng-otp-input>
                <div class="d-flex justify-content-space-between mb-12">
                  <mat-error class="mt-5" *ngIf="otpRequested && otpRequired">Enter OTP Received on Mobile
                    No.</mat-error>
                  <mat-error class="mt-5" *ngIf="otpRequested && otpInvalid">Enter valid OTP</mat-error>
                  <span *ngIf="otpRequested" class="otp-timer">{{ timeLeft !== "00:00" ? timeLeft : "" }}</span>
                </div>
              </div>

              <div class="col-12">
                <div class="tagus-form-group without-icon">
                  <label class="d-block mb-12 fw-semibold gray-color">Password <span>*</span></label>
                  <mat-form-field appearance="fill">
                    <input autocomplete="off" [type]="passwordInputType" #password
                      (keyup)="getConfirmPassword(confirmPassword.value,password.value)" matInput placeholder="Password"
                      type="password" class="form-control" id="password" formControlName="password">
                    <mat-error *ngIf="submitted && validators['password'].errors && validators['password'].errors['required']
                                                  ">Enter Password </mat-error>

                    <mat-error
                      *ngIf="submitted && validators['password'].errors && validators['password'].errors['pattern']">
                      Enter Valid Password
                    </mat-error>

                    <button (click)="changeEyeIcon('newPassword')" mat-icon-button matSuffix
                      [attr.aria-label]="'Hide password'" class="eyeBtn">
                      <mat-icon matSuffix>
                        {{passwordInputType === 'text' ? 'visibility' : 'visibility_off'}}
                      </mat-icon>
                    </button>

                  </mat-form-field>
                </div>
              </div>

              <div class="col-12">
                <div class="tagus-form-group without-icon">
                  <label class="d-block mb-12 fw-semibold gray-color">Confirm Password <span>*</span></label>
                  <mat-form-field appearance="fill">
                    <input autocomplete="off" [type]="confirmPasswordInputType" #confirmPassword
                      (keyup)="getConfirmPassword(confirmPassword.value,password.value)" matInput
                      placeholder="Confirm Password" class="form-control" id="confirmPassword"
                      formControlName="confirmPassword">
                    <mat-error *ngIf="submitted && validators['confirmPassword'].errors && validators['confirmPassword'].errors['required']
                                                  ">Enter Confirm Password </mat-error>

                    <button (click)="changeEyeIcon('confirmPassword')" mat-icon-button matSuffix
                      [attr.aria-label]="'Hide password'" class="eyeBtn">
                      <mat-icon matSuffix>
                        {{confirmPasswordInputType === 'text' ? 'visibility' : 'visibility_off'}}
                      </mat-icon>
                    </button>
                    <mat-hint class="mat-mdc-form-field-error" *ngIf="submitted && confirmPassError && confirmPassword.value.length>0 && confirmPassword.value!=''
                                                ">Passwords did not match </mat-hint>

                  </mat-form-field>
                </div>
              </div>


            </div>
          </div>
          <button mat-flat-button class="tagus d-block fw-semibold" (click)="resetUserPassword()">Save</button>
          <div class="text-center back-to-login">
            <a routerLink="/authentication/login" class="d-inline-block main-color fw-medium position-relative"><i
                class="flaticon-chevron-1"></i>
              Back to Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>