.border-radius-40 {
  background: white;
  border-radius: 10px !important;
  height: 50px !important;
}


// .mat-button-toggle-checked {
//   color: white !important;
//   background-color: var(--themeColor) !important;
// }

.mat-button-toggle-checked {
  background-color: white !important;
}